
logicaProg/Problema3/Problema3/ConsoleApp1/obj/project.nuget.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/project.assets.json
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/refint/ConsoleApp1.dll
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ref/ConsoleApp1.dll
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.pdb
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GlobalUsings.g.cs
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.genruntimeconfig.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.FileListAbsolute.txt
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.dll
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.CoreCompileInputs.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.BuildWithSkipAnalyzers
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.AssemblyReference.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.assets.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfoInputs.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfo.cs
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/apphost.exe
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
logicaProg/Problema3/Problema3/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
logicaProg/Problema3/Problema3/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
logicaProg/Problema3/Problema3/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
logicaProg/Problema3/Problema3/ConsoleApp1/ConsoleApp1.csproj
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.runtimeconfig.json
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.exe
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/read.lock
logicaProg/Problema3/Problema3/.vs/Problema3/v17/.suo
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.deps.json
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.dll
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.pdb
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/92d8db98-0116-4a4e-ac56-e333a602a233.vsidx
logicaProg/Problema3/Problema3/Problema3.sln
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/2f4b3646-f420-4700-bd38-506db8094650.vsidx
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/ffaea61b-165c-4952-80f8-804e49a9258d.vsidx
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.assets.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.AssemblyInfoInputs.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.csproj.AssemblyReference.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.GeneratedMSBuildEditorConfig.editorconfig
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Problema3.csproj.nuget.dgspec.json
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Problema3.csproj.nuget.g.props
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Problema3.csproj.nuget.g.targets
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.AssemblyInfo.cs
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.GlobalUsings.g.cs
logicaProg/Problema3/Problema3/ConsoleApp1/Problema3.csproj
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/refint/Problema3.dll
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/ref/Problema3.dll
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.pdb
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.genruntimeconfig.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.dll
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.csproj.FileListAbsolute.txt
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.csproj.CoreCompileInputs.cache
logicaProg/Problema3/Problema3/ConsoleApp1/obj/Debug/net6.0/Problema3.csproj.BuildWithSkipAnalyzers
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/Problema3.runtimeconfig.json
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/Problema3.pdb
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/Problema3.exe
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/Problema3.dll
logicaProg/Problema3/Problema3/ConsoleApp1/bin/Debug/net6.0/Problema3.deps.json
logicaProg/Problema3/Problema3/.vs/ProjectEvaluation/problema3.projects.v5.1
logicaProg/Problema3/Problema3/.vs/ProjectEvaluation/problema3.metadata.v5.1
logicaProg/Problema3/Problema3/.vs/Problema3/v17/.futdcache.v2
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/5f0b0753-1c5b-4a89-a542-a76580bf48c6.vsidx
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/06f1d298-f130-4fc2-96d6-9608980acf3d.vsidx
logicaProg/Problema3/Problema3/.vs/Problema3/DesignTimeBuild/.dtbcache.v2
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/d162b249-04ab-4739-894f-98059a33302f.vsidx
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/831b6cc2-8b98-490e-9ea7-9dd5f766d210.vsidx
logicaProg/Problema3/Problema3/.vs/Problema3/FileContentIndex/cafaddad-50c5-49c8-9cc7-89ce20aa5820.vsidx
logicaProg/Problema3/Problema3/Problema6/bin/Debug/net6.0/Problema6.deps.json
logicaProg/Problema3/Problema3/Problema6/bin/Debug/net6.0/Problema6.dll
logicaProg/Problema3/Problema3/Problema6/bin/Debug/net6.0/Problema6.exe
logicaProg/Problema3/Problema3/Problema6/bin/Debug/net6.0/Problema6.pdb
logicaProg/Problema3/Problema3/Problema6/bin/Debug/net6.0/Problema6.runtimeconfig.json
logicaProg/Problema3/Problema3/Problema6/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
logicaProg/Problema3/Problema3/Problema6/obj/Debug/net6.0/apphost.exe
